
header {
    width: 100%;
    background-color: #FCE6F4;
    height: 100px;
}

.navbar-brand {
    font-family: 'Yeseva One', cursive;
    font-size: 20px;
    letter-spacing: 0.7px;
    margin-top: 20px;
    color: #E30C99 !important;
}

.navbar-nav {
    margin-right: 50px;
    margin-top: 20px;
    font-family: 'Roboto', sans-serif;
 
}

.nav-link {
    margin-right: 40px;
    color:  #E30C99 !important;
    &:hover {
        color: #FFFFFF !important;
    }
}

