
h1, h2, h3, h4 {
    font-family: 'yeseva one', sans-serif;
}

p {
    font-family: 'Roboto', sans-serif; 
}

.white {
    padding: 20px;
    min-height: 300px;
}

h1 {
    font-family: "Yeseva One", cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 46px;
    color: #E30C99;
}

.text-about {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    color: #E30C99;
    margin-top: 20px;
}

.button-contact {
    width: 186px;
    height: 42px;
    background: #F6B6E0;
    font-family: "Yeseva One", cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 25px;
    color: #FFFFFF;
    text-align: center;
    border: none;
    margin-top: 30px;

    &:hover {
        background: #E30C99;
    }
}

.pink {
    padding: 20px;
    background-color: #E30C99;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-news {
    font-family: "Yeseva One", cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    color: #F6B6E0;
}

.text-news {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    color: #FCE6F4;
    margin-top: 20px;
}

.button-products {
    width: 186px;
    height: 42px;
    background: #FCE6F4;
    font-family: "Yeseva One", cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 25px;
    color: #E30C99;
    border:none;
    padding: 5px;
    margin-top: 30px;
    &:hover {
        background:#FFFFFF;
    }
}

.esaias {
    margin-top: 20px;
}

.main-esaias {
    font-family: "Yeseva One", cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    color: #F6B6E0;
}

.text-esaias {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    color: #E30C99;
    margin-top: 20px;
}

.button-esaias {
    width: 186px;
    height: 42px;
    background: #FCE6F4;
    font-family: "Yeseva One", cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 25px;
    color: #E30C99;
    border:none;
    padding: 5px;
    margin-top: 30px;
    &:hover {
        background:#FFFFFF;
    }
}

/* Newsletter */
 
.newsletter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #E396C7;
    margin-top: 20px;
   }
    
   .newsletter h2 {
    color: white;
    font-size: 48px;
   }
    
   .txt-button {
    width: 400px;
    height: 70px;
    background: #f1f1f199;
    border-radius: 40px;
    position: relative;
    margin-bottom:60px;
   }
    
   .txt-button input {
    width: 100%;
    height: 70px;
    border-radius: 40px;
    border: 0;
    background: none;
    padding: 0 30px;
    outline: none;
    font-size: 15px;
    padding-right: 80px;
    box-shadow: 0 0 50px #00000060;
   }
    
   .txt-button button {
    background:black;
    border: 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    right: 10px;
    top: 10px;
    outline: none;
    cursor: pointer;
    color: #fff;
    transition: 0.3s linear;
   }
    
   txt-button button:hover {
    opacity: .5;
   }