/* Global */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1, h2, h3, h4 {
  font-family: 'yeseva one', sans-serif;
}

h2 {
  font-size: 42px;
}

h3 {
  font-size: 34px;
  margin-bottom: 10px;
  margin-top: 20px;
  color: #E30C99;

}

h4 {
  font-size: 28px;
}

p {
  font-family: 'roboto', sans-serif;
  font-size: 18px;
}

/* Big screens */
.big-container {
  margin: 0 auto;
}

/* Global Header */
header {
  width: 100%;
  background-color: #FCE6F4;
  height: 100px;
}

.navbar-brand {
  font-family: 'Yeseva One', cursive;
  font-size: 20px;
  letter-spacing: 0.7px;
  margin-top: 20px;
  color: #E30C99 !important;
}

.navbar-nav {
  margin-right: 50px;
  margin-top: 20px;
  font-family: 'Roboto', sans-serif;
}

.nav-link {
  margin-right: 40px;
  color: #E30C99 !important;
}

.nav-link:hover {
  color: #FFFFFF !important;
}

/* Section below header */
.text-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  background: black;
  height: 200px;
  text-align: center;
}

.text-title {
  margin-bottom: 0px;
}

.dot {
  color: #E30C99;
  font-size: 40px;
}

/* Contact Section */
.wrapper {
  width: 100%;
  margin: auto;
  margin-bottom: 40px;
  margin-top: 40px;
  max-width: 1400px;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.column-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0px;
          flex: 1 0 0px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.column-2 {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0px;
          flex: 1 0 0px;
          
}

.light-store {
  color: #E30C99;
  font-size: 24px;
}

/* Contact form */
.form-control {
  background-color: #f2f6f8;
  border-radius: 2rem;
  border: none;
  -webkit-box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.11);
          box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.11);
  margin: 20px 10px 20px 20px;
}

.thick {
  height: 60px;
  padding: 15px 80px;
}

.message .form-control {
  padding: 20px 80px;
}

::-webkit-input-placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: #838788;
}

:-ms-input-placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: #838788;
}

::-ms-input-placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: #838788;
}

::placeholder {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: #838788;
}

input,
textarea {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  color: #212529;
  font-size: 20px;
}

.btn.btn-primary {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 16px;
  height: 50px;
  line-height: 40px;
  padding: 0 60px;
  border: 0;
  margin-left: 35px;
  border-radius: 50px;
  background-color: #E30C99;
  background-size: 300% 100%;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  color: white;
}

.btn.btn-primary:hover:enabled {
  -webkit-box-shadow: 0 0.5em 0.5em -0.4em #ff923cba;
          box-shadow: 0 0.5em 0.5em -0.4em #ff923cba;
  background-size: 100% 100%;
  -webkit-transform: translateY(-0.15em);
          transform: translateY(-0.15em);
}

/* Newsletter */
.newsletter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background: #E396C7;
}

.newsletter h2 {
  color: white;
  font-size: 48px;
  margin-top: 40px;
  margin-bottom: 50px;
}

.txt-button {
  width: 400px;
  height: 70px;
  background: #f1f1f199;
  border-radius: 40px;
  position: relative;
  margin-bottom: 60px;
}
@media screen and (max-width: 400px) {
  .txt-button {
    width: 200px;
  }
}

.txt-button input {
  width: 100%;
  height: 70px;
  border-radius: 40px;
  border: 0;
  background: none;
  padding: 0 30px;
  outline: none;
  font-size: 15px;
  padding-right: 80px;
  -webkit-box-shadow: 0 0 50px #00000060;
          box-shadow: 0 0 50px #00000060;
}

.txt-button button {
  background: black;
  border: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  right: 10px;
  top: 10px;
  outline: none;
  cursor: pointer;
  color: #fff;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

txt-button button:hover {
  opacity: .5;
}

/* Footer */
footer {
  width: 100%;
  background-color: #E30C99;
}

#footer-logo {
  margin-top: 25px;
}

.navbar-brand2 {
  font-family: 'Yeseva One', cursive;
  font-size: 20px;
  letter-spacing: 0.7px;
  color: #ffffff !important;
}

.footer-text {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #FCE6F4;
  margin-top: 7px;
}

.row.footer {
  margin-left: 15px;
  margin-top: 20px;
}

.fab {
  color: #ffffff;
  margin-top: 30px;
  margin-left: 20px;
}

.fab:hover {
  color: #FCE6F4;
}
/*# sourceMappingURL=index.css.map */